.button {
        height: 25px;
         width: 150px;
         background-color: #ff5722;
         font-family: 'Roboto', sans-serif;
         font-size: 16px;
         border-radius: 10px;
         border: none;
     }

.button:hover {
        background-color: #ff5755; 
    }